BasedOnStyle: LLVM

AccessModifierOffset: -4
AlignTrailingComments: false
AllowShortFunctionsOnASingleLine: false
BreakBeforeBraces: Allman
ColumnLimit: 159
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Left
UseTab: Never